html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
button, a {
	cursor: pointer;
}


::selection {
    background-color: #ffa6c1;
}

@font-face {
    font-family: 'play';
    src: url(../Playtime.otf);
}

body {
    background-image: url(../background.jpg);
    background-position-y: calc(1 / 3);
    background-repeat: no-repeat;
    /* background-size: 125%;
    background-position-y: calc(100% / 3 + 50px);
    background-position-x: calc(100% / 2 - 50px); */
    background-size: cover;
    background-position: top;
    min-height: 100svh;

    section {
        max-width: 1200px;
        width: 95%;
        margin: auto auto;
        position: relative !important;

        >header {
            padding: 0;
            margin: auto auto;
            max-width: 450px;

            h3 {
                color: #e23963;
                font-size: 50px;
                font-weight: 700;
                font-family: 'play';
                text-align: center;
                margin: 20px 0;
                @media (max-width: 768px) {
                    font-size: 30px;
                }
            }
        }

         > main {
            padding: 40px;
            border-radius: 50px;
            max-width: 800px;
            margin: 0 auto;
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-radius: 20px;
            border: 2px solid rgba(255, 255, 255, 0.18);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);

            header {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                img {
                    @media (max-width: 400px) {
                        width: 60px;
                    }
                }

                h4 {
                    color: #e23963;
                    font-size: 30px;
                    font-family: 'play';
                    font-weight: 600;
                    text-align: center;
                    @media (max-width: 768px) {
                        font-size: 25px;
                    }
                }
                div {
                    display: flex;
                    justify-content: center;
                    gap: 30px;
                }
                button {
                    border: none;
                    background: transparent;
                    cursor: pointer;
                    transition-duration: 500ms;
                    &:hover {
                        transform: scale(1.15);
                    }
                }
                
            }
            main {
                > div, figure {
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @media (max-width: 768px) {
                        flex-direction: column;
                        gap: 15px;
                        justify-content: center;
                        align-items: center;
                    }
                    #score {
                        color: #e23963;
                        font-size: 25px;
                        font-family: 'play';
                        font-weight: 600;
                        letter-spacing: 3px !important;
                        @media (max-width: 768px) {
                            font-size: 20px;
                            text-align: center;
                        }
                    }
                    button {
                        background-color: transparent;
                        padding: 10px 15px;
                        border-radius: 12px;
                        color: #e23963;
                        font-weight: 600;
                        font-family: 'play';
                        letter-spacing: 3px;
                        font-size: 18px;
                        border: 2px #e23963 solid;
                        max-width: 200px;
                    }
                }
                h3 {
                    margin-top: 30px;
                    color: #e23963;
                    font-size: 30px;
                    font-family: 'play';
                    font-weight: 600;
                    text-align: center;
                }
                img {
                    @media (max-width: 400px) {
                        width: 50px !important;
                    }
                }
            }
        }
    }
    footer {
        display: flex;
        justify-content: center;
        margin-top: 100px;

        p {
            color: rgb(77, 74, 74);
            font-size: 17px;
            letter-spacing: 2px;
            @media (max-width: 370px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            a {
                color: #e23963;
                font-size: 18px;
                font-family: 'play';
                letter-spacing: 3px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

figure {
    max-width: 70%;
    margin: 0 auto;
    @media (max-width: 768px) {
        max-width: 100% !important;
        flex-direction: row !important;
    }
    @media (max-width:560px) {
        flex-direction: column !important;
    }
    span {
        color: #e23963;
        font-weight: 600;
        font-family: 'play';
        letter-spacing: 3px;
        font-size: 18px;
    }
}


@mixin decoration($width, $height, $top, $left, $background) {
    width: $width;
    height: $height;
    border-radius: 100%;
    position: absolute;
    top: $top;
    left: $left;
    background: $background;
    animation: moveLoop 4s ease-in-out infinite alternate;
}

.decor1 {
    @include decoration(200px, 200px, 10%, 80%, linear-gradient(39deg, rgba(255,229,236,1) 0%, rgba(255,71,126,0.2) 81%));
    @media (max-width: 970px) {
        height: 150px;
        width: 150px;
        left: 70%;
    }
}

.decor2 {
    @include decoration(150px, 150px, 80%, 20%, linear-gradient(340deg, rgba(255,71,126,1) 0%, rgba(255,71,126,0.2) 81%));
}

.decor3 {
    @include decoration(130px, 130px, 90%, 70%, linear-gradient(120deg, #FF99AC 0%, rgba(255,71,126,0.4) 91%));
}

.decor4 {
    @include decoration(100px, 100px, 30%, 40%, linear-gradient(120deg, rgb(250, 184, 153) 0%, rgba(255,71,126,0.2) 91%));
}

@keyframes moveLoop {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translatey(20px);
    }
    100% {
        transform: translateX(20px);
    }
}


@media (max-width: 768px) {
    .decor1, .decor2, .decor3, .decor4 {
        display: none !important;
    }
}